
<div class="row">
  <div (click) = 'mainPage()' class="col-2 title">
      <strong>B</strong>est
      <p> &nbsp; Shop</p>
  </div>

  <div class="col-6 cont">
    <nav>
      <a (click) = 'mainPage()'>STRONA GŁÓWNA</a>
      <a (click) = 'addProduct()'>DODAJ PRZEDMIOT</a>
      <a (click) = 'basket()'>KOSZYK</a>
      <a (click) = 'logOut()'>WYLOGUJ</a>
      <div class="animation start-home"></div>
    </nav>
  </div>

  <div class="col-2 namesLogin">
    <img width="20" height="20" src="https://c7.uihere.com/files/416/62/448/login-google-account-computer-icons-user-activity.jpg">
    Anna Grzenik
    <!-- {{nameUser}} -->
  </div>
</div>
