
<div class="row">

  <div [routerLink]="['.']" class="col-2 title">
      <strong>B</strong>est
      <img class ="img" src = "assets/img/open_shop.png">
      <p> &nbsp; Shop</p>
  </div>




  <div class = "row container">

    <div class="col" [routerLink]="['.']"> <a> STRONA GŁÓWNA </a> </div>
    <div class="col" [routerLink]="['addProduct']" *ngIf="userRole == 3"> <a> DODAJ PRZEDMIOT </a></div>
    <div class="col" [routerLink]="['basket']" *ngIf="userRole == 2 || userRole == 1"> <a> KOSZYK - {{productsCount}}</a> </div>
    <div class="col" (click) = 'logOut()'> <a> WYLOGUJ </a></div>

  </div>



  <div class="col-2 nameLogin">
    <img width="25" height="25" src= "assets/img/user_icon.png">
    {{ currentUser.name }} {{currentUser.lastName}}
  </div>
</div>
