<div class = "body" [ngStyle]="{'top':isEdit ? '20%' : '5%' }">

    <form [formGroup] = "form">

      <div class = "imageDiv">
        <img class = "image" src="assets/img/image_shop.png">
      </div>

      <div class = "title">
          <strong>B</strong>est Shop
      </div>

      <div class="form-group inputs">
      <input formControlName="name"  class="form-control" placeholder="Imię">
      </div>

      <div class="form-group inputs">
          <input formControlName="lastName"  class="form-control" placeholder="Nazwisko">
      </div>

      <div class="form-group inputs">
          <input formControlName="login"  class="form-control"  placeholder="Login">
      </div>

      <div class="form-group inputs">
          <input type="password" formControlName="password" class="form-control"  placeholder="Hasło">
      </div>

      <div class="form-group inputs">
          <input type="password" formControlName="repeatPassword" class="form-control" placeholder="Powtórz hasło">
      </div>

      <div class="form-group inputs">
      <select (change)="selectChangeHander($event)" class="custom-select" id="inputGroupSelect01" >
            <option  *ngFor="let role of roleUsers" [value]="role.id" >
               {{role.name}}
            </option>
      </select>
      </div>


      <div class="form-group registration">
      <button [disabled]='!form.valid' type="button" class=" btn btn-secondary" (click)='registartion()'>{{stringAtbutton}}</button>
      </div>

    </form>

 </div>



