<div class = "body">

    <form [formGroup] = "form" class = "logowanie">

      <div class = "imageDiv">
        <img class = "image" width="50" height="50" src="https://melbournechapter.net/images/grocery-store-clipart-black-and-white-2.png">
      </div>

      <div class = "title">
          <strong>B</strong>est Shop
      </div>

      <div class="form-group inputs">
      <input formControlName="name"  class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Name">
      </div>

      <div class="form-group inputs">
          <input formControlName="lastName"  class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Last name">
      </div>

      <div class="form-group inputs">
          <input mat-raised-button matTooltip="Login jest wymagany !" matTooltipPosition ="right" formControlName="login"  class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Login">
      </div>

      <div class="form-group inputs">
          <input mat-raised-button matTooltip="Hasło jest wymagane !" matTooltipPosition ="right" type="password" formControlName="password" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Password">
      </div>

      <div class="form-group inputs">
          <input mat-raised-button matTooltip="Powtórz hasło!" matTooltipPosition ="right" type="password" formControlName="repeatPassword" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Repeat password">
      </div>

      <div class="form-group inputs">
      <select (change)="selectChangeHander($event)" class="custom-select" id="inputGroupSelect01" >
            <option  *ngFor="let role of roleusers" [value]="role.id" >
               {{role.name}}
            </option>
      </select>
      </div>


      <div class="form-group registration">
      <button [disabled]='!form.valid' (click)='registartion_1()' type="button" class=" btn btn-secondary">Zarejestruj Się</button>
      </div>

    </form>

 </div>



