.head {
  background-color: #34495e;
  color: pink;
}

.table {
  text-align: center;
  background-color: #e1dddc;
}

.container {
  padding-top: 5%;
  padding-left: 500px;
}

tr:nth-child(even) {
  background-color: #bdbcbc;
}

.notFirst:hover {
  color: #930370;
}

button {
  background-color: #34495e;
  border-radius: 8px;
  color: white;
  height: 40px;
  width: 60px;
}

button:hover {
  opacity: .7;
}
