
.container {
  padding-top: 10%;
  padding-left: 100%;
}


.thead {
  background-color: #34495e;
  color: pink;
  border-radius: 8px;
  text-align: center;
}


.action-E {
  width: 60px;
  background-color: #34495e;
  border-radius: 8px;
  color: white;
}

.action-U {
  width: 60px;
  background-color: #34495e;
  border-radius: 8px;
  color: white;
}

button:hover{
  color: pink;
}


