.adddiv {
  background-color: #9fa9a3;
  width: 650px;
  height: 440px;
  padding-top: 30px;
  text-align: center;
  margin-left: 10%;
  border-style: solid;
  border-radius: 10px;
}

input {
  width: 500px;
  border-radius: 10px;

}



.buttton1 {
  margin-top: 10px;
  text-align: center;
}


.backgroundImage {
    left: 3%;
    padding-top: 17%;
}
