<app-heading></app-heading>

<div class = "row">

    <div class = 'col-2 backgroundImage'>
        <img width="220" height="220"  src='http://worldartsme.com/images/mickey-mouse-clipart-1.jpg'>
    </div>

  <form [formGroup]= "form" class = adddiv>

      <div class="form-group row">
          <label class="col-form-label col-2">Nazwa: </label>
          <div class="col col-10">
              <input formControlName="name"  class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
          </div>
      </div>


      <div class="form-group row">
          <label class="col-form-label col-2">Opis: </label>
          <div class="col col-10">
              <input formControlName="description"  class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">        </div>
      </div>

      <div class="form-group row">
          <label class="col-form-label col-2">Tagi: </label>
          <div class="col col-10">
              <input formControlName="tags"  class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
          </div>
      </div>

      <div class="form-group row">
          <label class="col-form-label col-2">Zdjęcie: </label>
          <div class="col col-10">
              <input formControlName="img"  class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
          </div>
      </div>

      <div class="form-group row">
        <label class="col-form-label col-2">Producent: </label>
        <div class="col col-10">
            <input formControlName="producer"  class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
      </div>

      <div class="form-group row">
          <label class="col-form-label col-2">Cena: </label>
          <div class="col col-10">
              <input formControlName="price"  class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
          </div>
      </div>


    <button [disabled]='!form.valid' (click)='addProduct()' type="button" class="buttton1 btn btn-secondary" >Dodaj produkt</button>


  </form>

</div>

