/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.tlo {
  // background-color: #F1F3CE;
  background-image: url("https://66.media.tumblr.com/cc299da97d2f9c23cf9d36fa53e448d7/tumblr_oiwyu1eDWL1tf8vylo1_1280.png");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
