
.container {
  padding-top: 15%;
  // text-align: center;
  margin-left: 500px;
}


.user {
  width: 60%;
  height: 50px;
  margin-top: 25px;
  background-color: #34495e;
  border-radius: 8px;
  // margin-left: 5%;
  color: white;
}

button:hover {
  color: pink;
}

.img {
  margin-right: 10px;
}

.img1 {
  margin-right: 25px;
}

